// Made from here:
// https://angular-material.dev/articles/angular-material-theme-builder
// 1. Go here: https://themes.angular-material.dev/
// 2. Click icon on bottom left to copy to material design 3 colors
// 3. Replace the select with "@mixin light-system-vars()"

@mixin light-system-vars() {
  --sys-background:#f5fafb;
  --sys-on-background:#171d1e;
  --sys-surface:#f5fafb;
  --sys-surface-dim:#d5dbdc;
  --sys-surface-bright:#f5fafb;
  --sys-surface-container-lowest:#ffffff;
  --sys-surface-container-low:#eff5f6;
  --sys-surface-container:#e9eff0;
  --sys-surface-container-high:#e3e9ea;
  --sys-surface-container-highest:#dee3e4;
  --sys-on-surface:#171d1e;
  --sys-surface-variant:#dae4e5;
  --sys-on-surface-variant:#3f4849;
  --sys-inverse-surface:#2b3132;
  --sys-inverse-on-surface:#ecf2f3;
  --sys-outline:#6f797a;
  --sys-outline-variant:#bec8c9;
  --sys-shadow:#000000;
  --sys-scrim:#000000;
  --sys-surface-tint:#006973;
  --sys-primary:#006973;
  --sys-on-primary:#ffffff;
  --sys-primary-container:#9ef0fc;
  --sys-on-primary-container:#004f57;
  --sys-inverse-primary:#81d3df;
  --sys-secondary:#006973;
  --sys-on-secondary:#ffffff;
  --sys-secondary-container:#9df0fb;
  --sys-on-secondary-container:#004f57;
  --sys-tertiary:#465d91;
  --sys-on-tertiary:#ffffff;
  --sys-tertiary-container:#d9e2ff;
  --sys-on-tertiary-container:#2d4678;
  --sys-error:#904a43;
  --sys-on-error:#ffffff;
  --sys-error-container:#ffdad5;
  --sys-on-error-container:#73342d;
  --sys-neutral:#727879;
  --sys-neutral-variant:#6f797a;
  --sys-primary-fixed:#9ef0fc;
  --sys-primary-fixed-dim:#81d3df;
  --sys-on-primary-fixed:#001f23;
  --sys-on-primary-fixed-variant:#004f57;
  --sys-secondary-fixed:#9df0fb;
  --sys-secondary-fixed-dim:#81d3df;
  --sys-on-secondary-fixed:#001f23;
  --sys-on-secondary-fixed-variant:#004f57;
  --sys-tertiary-fixed:#d9e2ff;
  --sys-tertiary-fixed-dim:#afc6ff;
  --sys-on-tertiary-fixed:#001943;
  --sys-on-tertiary-fixed-variant:#2d4678;
  --sys-inverse-secondary:#81d3df;
  --sys-inverse-tertiary:#afc6ff;
  --sys-inverse-error:#ffb4ab;
  --sys-error-fixed:#ffdad5;
  --sys-error-fixed-dim:#ffb4ab;
  --sys-on-error-fixed:#3b0907;
  --sys-on-error-fixed-variant:#73342d;
}
