<div class="flex align-items-center">
  <h1 class="demo-title">Data Sources</h1>
  <button mat-raised-button (click)="showModal()">Documentation</button>
</div>

<ngx-dc-demo-card [showCodeIcon]="true" [showLinkIcon]="false">
  <ng-container *ngxDcDemoCardTitle>API Data Source with for block</ng-container>
  <ng-container *ngxDcDemoCardSubtitle>Very basic way to show how to use the data source to display in a for loop, but easily retrieve the data from the server</ng-container>
  <mat-tab-group ngx-dc-demo-tabs>
    <mat-tab label="data-source-for.data-source.ts">
      <ngx-dc-demo-file-viewer
        filePath="app/pages/data-sources-demo/data-source-for/data-source-for.data-source.ts"
        language="ts"
      ></ngx-dc-demo-file-viewer>
    </mat-tab>
    <mat-tab label="data-source-for.component.ts">
      <ngx-dc-demo-file-viewer
        filePath="app/pages/data-sources-demo/data-source-for/data-source-for.component.ts"
        language="ts"
      ></ngx-dc-demo-file-viewer>
    </mat-tab>
    <mat-tab label="data-source-for.component.html">
      <ngx-dc-demo-file-viewer
        filePath="app/pages/data-sources-demo/data-source-for/data-source-for.component.html"
        language="jsx"
      ></ngx-dc-demo-file-viewer>
    </mat-tab>
  </mat-tab-group>

  <ng-container *ngxDcDemoCardExampleTitle>Live Demo</ng-container>
  <ng-container *ngxDcDemoCardExample>
    <app-data-source-for></app-data-source-for>
  </ng-container>
</ngx-dc-demo-card>

<ngx-dc-demo-card [showCodeIcon]="true" [showLinkIcon]="false">
  <ng-container *ngxDcDemoCardTitle>
    API Data Source with mat-table
  </ng-container>
  <ng-container *ngxDcDemoCardSubtitle>
    This shows how the data source also works very well with mat-table. It also shows how you can transform the data in the `transformDataItems` method
  </ng-container>

  <mat-tab-group ngx-dc-demo-tabs>
    <mat-tab label="data-source-mat-table.component.ts">
      <mat-tab label="data-source-mat-table.data-source.ts">
        <ngx-dc-demo-file-viewer
          filePath="app/pages/data-sources-demo/data-source-mat-table/data-source-mat-table.data-source.ts"
          language="ts"
        ></ngx-dc-demo-file-viewer>
      </mat-tab>
      <ngx-dc-demo-file-viewer
        filePath="app/pages/data-sources-demo/data-source-mat-table/data-source-mat-table.component.ts"
        language="ts"
      ></ngx-dc-demo-file-viewer>
    </mat-tab>
    <mat-tab label="data-source-mat-table.component.html">
      <ngx-dc-demo-file-viewer
        filePath="app/pages/data-sources-demo/data-source-mat-table/data-source-mat-table.component.html"
        language="jsx"
      ></ngx-dc-demo-file-viewer>
    </mat-tab>
  </mat-tab-group>

  <ng-container *ngxDcDemoCardExample>
    <app-data-source-mat-table></app-data-source-mat-table>
  </ng-container>
</ngx-dc-demo-card>


