// Specific component overrides, pieces that are not in line with the general theming
a:hover {
  text-decoration: none !important;
}

// Mat Card
mat-card.mat-mdc-card {
  border-color: var(--mat-tab-divider-color);
  border-width: 1px;

  mat-card-title.mat-card-title {
    padding: 16px 16px 0;
  }

  mat-card-subtitle.mat-card-subtitle {
    border-bottom: var(--mat-tab-divider-color) solid 1px;
    padding: 4px 16px 16px;
  }
}

// Progress bar
input[matInput] + mat-progress-bar,
mat-select + mat-progress-bar {
  top: 0;
  left: -16px;
  right: 16px;
  width: calc(100% + 32px) !important;
  border-radius: 20px;
}

.mat-mdc-menu-content {
  padding: 0 !important;
}

.mat-icon {
  top: 0;
  position: relative;
}

mat-icon svg path {
  fill: currentColor;
}

mat-checkbox > .mdc-form-field > .mdc-checkbox > label {
  padding-left: 0;
}

.mat-mdc-icon-button.mat-mdc-button-base {
  --mat-icon-button-state-layer-size: 32px;
  padding: 4px;

  mat-icon {
    &.mat-icon {
      height: 24px;
      width: 24px;
    }

    &.material-icons {
      font-size: 22px;
    }
  }
}

mat-form-field {
  margin-right: 8px;

  .mat-mdc-form-field-subscript-wrapper {
    display: none;
  }
}

mat-form-field.include-errors,
mat-form-field.include-hints {
  .mat-mdc-form-field-subscript-wrapper {
    display: flex;
  }

  mat-error {
    padding-top: 1px;
    padding-bottom: 1px;

    &::before {
      content: unset;
    }
  }

  &.expansive-error {
    .mat-mdc-form-field-error-wrapper {
      position: relative;
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }
}

mat-checkbox {
  top: 0;
  position: relative;

  .mdc-checkbox__checkmark {
    width: 14px;
    height: 14px;
  }

  .mat-mdc-checkbox-touch-target {
    height: 24px;
    width: 24px;
  }

  label {
    margin: 0;
    top: 1px;
    position: relative;
  }
}

mat-form-field {
  mat-datepicker-toggle {
    right: 4px;
    position: relative;

    .mat-mdc-icon-button.mat-mdc-button-base {
      --mat-icon-button-state-layer-size: 32px;
      padding: 4px;
    }
  }
}

mat-list-item.heading {
  .mat-mdc-list-item-unscoped-content {
    opacity: 1 !important;
  }
}

// Handle buttons appropriately, with respect to line-height
.mat-raised-button, .mat-stroked-button, .mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 36.4px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 24px;
  font-family: 'Material Icons', 'Material Icons';
  .mat-badge-content {
    font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  }
}

// Increase size of Mat Badge to accommodate 3 digit numbers
.mat-badge-content {
  width: auto;
  display: grid;
  min-width: 30px;
  min-height: 30px;
  text-align: center;
  align-items: center;
  padding: 5px 3px;
  top: -20px;
  right: -22px;
}

.snackbar-success, .snackbar-success span {
  font-size: 18px;
}

.snackbar-error, .snackbar-error span {
  font-size: 18px;
}

mat-form-field:has(input) {
  .mat-mdc-icon-button.mat-mdc-button-base {
    padding: 4px !important;
  }
}

.mat-mdc-button-base {
  margin-top: 4px;
  margin-bottom: 4px;
}

