<ngx-dc-side-pane-list [dataSource]="dataSource">
  <ng-container *ngxDcPanePageInfo="let selectedItem; let totalCount = totalCount; let collapsed = collapsed">
    <span class="total-items">{{ totalCount }} Items</span>
  </ng-container>
  <ng-container *ngxDcSidePaneItem="let item; let index = index">{{ item.name }}</ng-container>
  <ng-container *ngxDcPaneContent="let retrievedItem; let selectedItem = selectedItem">
    <mat-card class="content-container">
      <h4 mat-card-title>Retrieved Item</h4>
      {{ retrievedItem | json }}
    </mat-card>
  </ng-container>
</ngx-dc-side-pane-list>
