<h3>Basic Dropdown</h3>
<ngx-dc-dropdown [dataSource]="dataSource" appearance="rounded-outline">
  <ng-container *ngxDcDropdownHeader="let selectedItem">
    {{ selectedItem?.name }}
  </ng-container>
  <ng-container *ngxDcDropdownItem="let item">
    {{ item.name }}
  </ng-container>
  <ng-container *ngxDcDropdownNoItems>No Items found</ng-container>
  <ng-container *ngxDcDropdownLoading>
      Loading...
  </ng-container>
</ngx-dc-dropdown>

<br/>


<h3>Basic Dropdown with infinite scrolling</h3>
<ngx-dc-dropdown [dataSource]="dataSource" [useInfiniteScrolling]="true" appearance="rounded-outline">
  <ng-container *ngxDcDropdownHeader="let selectedItem">
    {{ selectedItem?.name }}
  </ng-container>
  <ng-container *ngxDcDropdownItem="let item">
    {{ item.name }}
  </ng-container>
  <ng-container *ngxDcDropdownNoItems>No Items found</ng-container>
  <ng-container *ngxDcDropdownLoading>
      Loading...
  </ng-container>
</ngx-dc-dropdown>

<br/>

<h3>Basic Dropdown with bottom header</h3>
<ngx-dc-dropdown [dataSource]="dataSource" appearance="rounded-outline">
  <ng-container *ngxDcDropdownOptionsHeader="let selectedItem">
    Header Item
  </ng-container>
  <ng-container *ngxDcDropdownHeader="let selectedItem">
    {{ selectedItem?.name }}
  </ng-container>
  <ng-container *ngxDcDropdownItem="let item">
    {{ item.name }}
  </ng-container>
  <ng-container *ngxDcDropdownNoItems>No Items found</ng-container>
  <ng-container *ngxDcDropdownLoading>
      Loading...
  </ng-container>
</ngx-dc-dropdown>

<br/>

<h3>Basic Dropdown with bottom header and infinite scrolling</h3>
<ngx-dc-dropdown [dataSource]="dataSource" [useInfiniteScrolling]="true" appearance="rounded-outline">
  <ng-container *ngxDcDropdownOptionsHeader="let selectedItem">
    Header Item
  </ng-container>
  <ng-container *ngxDcDropdownHeader="let selectedItem">
    {{ selectedItem?.name }}
  </ng-container>
  <ng-container *ngxDcDropdownItem="let item">
    {{ item.name }}
  </ng-container>
  <ng-container *ngxDcDropdownNoItems>No Items found</ng-container>
  <ng-container *ngxDcDropdownLoading>
      Loading...
  </ng-container>
</ngx-dc-dropdown>

{{ dataSource.retrievedItem.value | json }}
