<h3>Basic Dropdown</h3>
<ngx-dc-dropdown [dataSource]="dataSource" appearance="rounded-outline">
  <ng-container *ngxDcDropdownHeader="let selectedItem">
    {{ selectedItem?.name }}
  </ng-container>
  <ng-container *ngxDcDropdownItem="let item">
    {{ item.name }}
  </ng-container>
  <ng-container *ngxDcDropdownNoItems>No Items found</ng-container>
  <ng-container *ngxDcDropdownLoading>
      Loading...
  </ng-container>
</ngx-dc-dropdown>

<br/>


<h3>Basic Dropdown with infinite scrolling</h3>
<ngx-dc-dropdown [dataSource]="dataSource" [useInfiniteScrolling]="true" appearance="rounded-outline">
  <ng-container *ngxDcDropdownHeader="let selectedItem">
    {{ selectedItem?.name }}
  </ng-container>
  <ng-container *ngxDcDropdownItem="let item">
    {{ item.name }}
  </ng-container>
  <ng-container *ngxDcDropdownNoItems>No Items found</ng-container>
  <ng-container *ngxDcDropdownLoading>
      Loading...
  </ng-container>
</ngx-dc-dropdown>

<br/>

<h3>Basic Dropdown with bottom header</h3>
<ngx-dc-dropdown [dataSource]="dataSource" appearance="rounded-outline">
  <ng-container *ngxDcDropdownOptionsHeader="let selectedItem">
    <div class="flex align-items-center">
      <span>Header Item with Dropdown</span>
      <span class="fill"></span>
      <mat-form-field>
        <mat-select>
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </ng-container>
  <ng-container *ngxDcDropdownHeader="let selectedItem">
    {{ selectedItem?.name }}
  </ng-container>
  <ng-container *ngxDcDropdownItem="let item">
    {{ item.name }}
  </ng-container>
  <ng-container *ngxDcDropdownNoItems>No Items found</ng-container>
  <ng-container *ngxDcDropdownLoading>
      Loading...
  </ng-container>
</ngx-dc-dropdown>

<br/>

<h3>Basic Dropdown with bottom header and infinite scrolling</h3>
<ngx-dc-dropdown [dataSource]="dataSource" [useInfiniteScrolling]="true" appearance="rounded-outline">
  <ng-container *ngxDcDropdownOptionsHeader="let selectedItem">
    <button mat-icon-button (click)="modalService.showModal(modalWithSelect)">
      Open Modal
    </button>
  </ng-container>
  <ng-container *ngxDcDropdownHeader="let selectedItem">
    {{ selectedItem?.name }}
  </ng-container>
  <ng-container *ngxDcDropdownItem="let item">
    {{ item.name }}
  </ng-container>
  <ng-container *ngxDcDropdownNoItems>No Items found</ng-container>
  <ng-container *ngxDcDropdownLoading>
      Loading...
  </ng-container>
</ngx-dc-dropdown>

{{ dataSource.retrievedItem.value | json }}


<ng-template #modalWithSelect>
  <h1>Modal with Select</h1>
  <mat-form-field>
    <mat-select>
      <mat-option value="1">1</mat-option>
      <mat-option value="2">2</mat-option>
      <mat-option value="3">3</mat-option>
    </mat-select>
  </mat-form-field>
</ng-template>